<ion-view view-title="Hourly">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..."></ion-refresher>
        <div class="list card">
            <div class="item item-body">
                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    10:00 <span style="float: right; display: inline;">65C</span>
                </div>

                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    11:00
                </div>

                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    12:00
                </div>

                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    13:00
                </div>
                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    14:00
                </div>

                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    15:00
                </div>

                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    16:00
                </div>

                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    17:00
                </div>
                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    18:00
                </div>
                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    19:00
                </div>
                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    20:00
                </div>
                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    21:00
                </div>
                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    22:00
                </div>
                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    23:00
                </div>
                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    0:00
                </div>
                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    1:00
                </div>
                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    2:00
                </div>
                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    3:00
                </div>
                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    4:00
                </div>
                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    5:00
                </div>
                <div href="#" class="item item-icon-left">
                    <i class="icon ion-ios-sunny"></i>
                    6:00
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
