<ion-view view-title="Settings">
    <ion-content>
        <ul class="list">
            <li class="item item-toggle">
                Notifications
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Vibrate
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item item-toggle">
                Sounds
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Age (Years)</span>
                <input type="number" placeholder="18">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Weight (kg)</span>
                <input type="number" placeholder="80">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Height (cm)</span>
                <input type="number" placeholder="180">
            </label>
        </ul>
    </ion-content>
</ion-view>
