<ion-view view-title="Store">
    <ion-content>
        <div class="list card">
            <div class="item item-thumbnail-left">
                <img src="img/vd.jpg">
                <h2>Vitamin D</h2>
                <p>5000 IU <br>120 capsules <br>Health Thread</p>
            </div>
            <div class="item item-body">
                <p>
                    Vitamin D capsules in Cod Liver oil to promote absorbtion. AAA Grade quality.
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-cart"></i>
                    Buy Now
                </a>
            </div>
        </div>
        
        <div class="list card">
            <div class="item item-thumbnail-left">
                <img src="img/choc.jpg">
                <h2>Chocolate Vitamin D</h2>
                <p>1000 IU <br>60 Chewables <br>Health Thread</p>
            </div>
            <div class="item item-body">
                <p>
                    Yummy chocolate vitamin d chewables. Made with real chocolate.
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-cart"></i>
                    Buy Now
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
