<ion-nav-back-button>
</ion-nav-back-button>
<ion-view view-title="Today">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..."></ion-refresher>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search City">
            </label>
        </div>
        <div class="list card">
            <a href="#/app/hourly" class="item item-avatar">
                <h2>November 05, 1955</h2>
                <p><i class="icon ion-navigate"></i> Surrey, B.C. <br>Sunny <br>High: 28C Low: 18C</p>
            </a>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <h2>Vitamin D</h2>
                <p>1000IU <br>28 minutes sunlight <br>Diet...</p>
            </div>
        </div>
        <div class="padding">
            <a href="#/app/store" class="button button-block button-positive icon ion-ios-cart">
                Buy Vitamin D
            </a>
        </div>
    </ion-content>
</ion-view>
