<ion-view view-title="Today">
  <ion-content>
    <div class="list card">
        <div class="item item-avatar">
            <div class="col">
                <i class="icon ion-ios-sunny"></i>
                <h2>November 05, 1955</h2>
                <p>Amazing day</p>
            </div>
        </div>
        <div class="item item-avatar">
            <h2>Vitamin D</h2>
            <p>1000IU <br>28 minutes sunlight <br>Diet...</p>
        </div>
        <div class="item item-body">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-sunny"></i>
                <div class="col">
                    10:00
                </div>
                <div class="col">
                    65C
                </div>
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-sunny"></i>
                11:00
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-sunny"></i>
                12:00
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-sunny"></i>
                13:00
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-sunny"></i>
                14:00
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-sunny"></i>
                15:00
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-sunny"></i>
                16:00
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-sunny"></i>
                17:00
            </a>
        </div>
    </div>
  </ion-content>
</ion-view>
