<ion-view view-title="Vitamin D Information">
    <ion-content>
        <div class="padding">
            <h2>Why Vitamin D</h2>
            <p>Vitamin D is a critical nutrient for human beings. You can get it from the sun, food, or supplements.</p>
            <p>It is associated with a wide range of benefits, including <strong>increased cognition, immune health, bone health and well-being</strong>. Supplementation can also <strong>reduce the risks of cancer, heart disease, diabetes and multiple sclerosis</strong>.</p>
            
            <h2>Who needs Vitamin D?</h2>
            <p>People at risk for deficiency include, those who do not get enough sunlight, people with darker skin, the elderly and infants.</p> 
            <p>There is only a sufficient amount of UV light coming from the sun when the UV index is 3 or higher, which only occurs year-round near the equator, between the 37th parallels.</p>
            <h2>Complications of Deficiency</h2>
            <p>Complications of Vitamin D deficiency include: increased risk of heart disease, cognitive impairment, asthma in children, cancer, rickets, bone disease.</p>
            <a href="#/app/store" class="button button-block button-positive icon ion-ios-cart">
                Buy Vitamin D
            </a>
        </div>
    </ion-content>
</ion-view>
