<ion-view view-title="Weekly">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..."></ion-refresher>
        <div class="list">
            <div class="item item-avatar">
                <h2>Sunday</h2>
                <p>Mostly Sunny <br>High: 50C Low: 23C <br>2000 IU Vitamin D <br>20 Minutes Sunlight</p>
            </div>
            <div class="item item-avatar">
                <h2>Monday</h2>
                <p>Mostly Sunny <br>High: 50C Low: 23C <br>2000 IU Vitamin D <br>20 Minutes Sunlight</p>
            </div>
            <div class="item item-avatar">
                <h2>Tuesday</h2>
                <p>Mostly Sunny <br>High: 50C Low: 23C <br>2000 IU Vitamin D <br>20 Minutes Sunlight</p>
            </div>
            <div class="item item-avatar">
                <h2>Wednesday</h2>
                <p>Mostly Sunny <br>High: 50C Low: 23C <br>2000 IU Vitamin D <br>20 Minutes Sunlight</p>
            </div>
            <div class="item item-avatar">
                <h2>Thursday</h2>
                <p>Mostly Sunny <br>High: 50C Low: 23C <br>2000 IU Vitamin D <br>20 Minutes Sunlight</p>
            </div>
            <div class="item item-avatar">
                <h2>Friday</h2>
                <p>Mostly Sunny <br>High: 50C Low: 23C <br>2000 IU Vitamin D <br>20 Minutes Sunlight</p>
            </div>
            <div class="item item-avatar">
                <h2>Saturday</h2>
                <p>Mostly Sunny <br>High: 50C Low: 23C <br>2000 IU Vitamin D <br>20 Minutes Sunlight</p>
            </div>

        </div>
    </ion-content>
</ion-view>
